h6 {
	margin: 0;
	padding-bottom: 3px;
}

.products-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.page-number-button-container {
	display: inline;
}

.page-button {
	margin: 10px;
	background-color: paleturquoise;
	border: solid 1px rebeccapurple;
	border-radius: 10px;
	padding: 5px;
}

@media screen and (max-width: 1090px) {
	.products-wrapper {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 450px) {
	.products-wrapper {
		grid-template-columns: 1fr;
	}
}
