@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.nav-bar {
	background-color: rebeccapurple;
	width: 100%;
	height: auto;
	/* padding: 20px; */
	justify-items: center;
	padding-top: 20px;
	padding-bottom: 5px;
}
.nav-link {
	text-decoration: none;
	color: white;
}
.nav-bar ul {
	list-style: none;
	/* padding-right: 75px; */
	margin: 0px;
	padding-bottom: 5px;
}
.nav-bar li {
	display: inline-block;
	padding: 0px 20px;
	font-size: 20px;
}
.nav-bar-shop-title {
	font-family: 'Yellowtail', cursive;
	font-size: 60px;
	color: white;
	margin: 0px;
	/* padding-right: 45px; */
}

.menu-button {
	display: none;
}

@media screen and (max-width: 600px) {
	/* .nav-bar li:not(:first-child ) {
		display: none;
	} */
	/* .nav-bar li:not(:last-child) {
		display: none;
	} */

	.nav-bar li:not(:nth-child(4n + 1) ) {
		display: none;
	}

	

	.nav-bar .menu-button {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.nav-bar.responsive {
		position: relative;
	}
	.nav-bar.responsive .menu-button {
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav-bar.responsive li {
		float: none;
		display: block;
		text-align: left;
	}
}

/* Add an active class to highlight the current page */
.nav-bar li:hover {
	background-color: #4caf50;
	color: white;
}
