@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.nav-bar {
	background-color: rebeccapurple;
	width: 100%;
	height: auto;
	/* padding: 20px; */
	justify-items: center;
	padding-top: 20px;
	padding-bottom: 5px;
}
.nav-link {
	text-decoration: none;
	color: white;
}
.nav-bar ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	padding-bottom: 5px;
}
.nav-bar li {
	display: inline-block;
	padding: 0px 20px;
	font-size: 20px;
}
.nav-bar-shop-title {
	font-family: 'Yellowtail', cursive;
	font-size: 60px;
	color: white;
	margin: 0px;
	/* padding-right: 45px; */
}

.menu-icon {
	display: none;
	color: white;
	/* height: 50px;
	width: 50px; */
	font-size: 30px;
}

.nav-bar-links-container {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
	.nav-bar li:not(:nth-child(1)) {
		display: none;
	}

	.nav-bar li {
		padding-top: 5px;
		font-weight: bold;
	}
	.nav-bar .menu-icon {
		/* float: right; */
		position: absolute;
		right: 10px;
		display: block;
	}
	.nav-bar .nav-bar-links-container {
		display: flex;
		justify-content: left;
	}
}

@media screen and (max-width: 600px) {
	.nav-bar.responsive {
		position: relative;
	}
	.nav-bar.responsive .menu-icon {
		position: absolute;
		right: 10px;
		/* top: 0; */
	}
	.nav-bar.responsive li {
		float: none;
		display: block;
		text-align: left;
		padding: 5px 20px;
	}

	/* .nav-bar.responsive .nav-bar-links-container {
		background-color: darkgrey;
	} */
}

/* Add an active class to highlight the current page */
.nav-bar li:hover {
	background-color: #4caf50;
	color: white;
}
