img {
	width: 180px;
	height: 210px;
	border: solid 1px rgb(123, 85, 160);
	margin: 5px;
	border-radius: 10px;
}

.product-container {
	background-color: lightgray;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin: 10px;
	padding: 10px;
	width: auto;
	border-radius: 10px;
}
.add-to-basket-button {
	margin: 10px;
	background-color: rebeccapurple;
	border: solid 1px black;
	border-radius: 10px;
	padding: 7px 10px;
	color: white;
	font-weight: bold;
}

.product-more-info-button {
	margin: 10px;
	background-color: white;
	border: solid 1px black;
	border-radius: 10px;
	padding: 7px 10px;
	color: rebeccapurple;
	font-weight: bold;
}

.modal-container {
	width: 50%;
	background-color: white;
	position: fixed;
	top: 15%;
	left: 25%;
	padding: 20px;
	/* opacity: 100%; */
}

.modal-top-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
}

.modal-top-container-detail {
	margin-left: 30px;
}

.modal-add-to-basket-button {
	margin: 10px;
	background-color: rebeccapurple;
	border: solid 1px black;
	border-radius: 10px;
	padding: 10px;
	color: white;
	font-weight: bold;
	align-self: center;
}

.modal-close-button{
	float: right;
	margin: 10px;
	background-color: paleturquoise;
	border: solid 1px rebeccapurple;
	border-radius: 10px;
	padding: 10px;
	color: black;
	font-weight: bold;
}

@media screen and (max-width: 450px) {
	img {
		width: 150px;
		height: 180px;
	}
	.product-container {
		grid-template-columns: 1fr;
	}
}
